body {
  font-family: Arial, Helvetica, sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
  overflow: auto;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  position: sticky !important;
  transition: 0.5s;
  top: 0;
  z-index: 99;
}
.under {
  display: inline-block;
}

.under-nav {
  font-size: 14px;
}

.under-photo {
  width: 19px;
  height: 19px;
}

.dropdown {
  position: static !important;
}

.nav-link {
  color: #000 !important;
  padding: 0 !important;
}

.dropdown-toggle {
  margin: 0px 0px !important;
}

.dropdown-menu {
  margin-top: -5px !important;
  width: 100% !important;
}

#fontUpper {
  font-size: 13px;
}

.con:hover {
  border-bottom: #000 solid 2px;
}

.head {
  width: 50px;
  height: 40px;
}

.bold {
  font-size: 16px;
  font-weight: 700;
}

#inside {
  position: absolute;
  margin-left: 180px;
}

.border-right {
  border-right: solid 1.5px #dddddd !important;
}

@media screen and (max-width: 1120px) {
  .dropdown {
    font-size: 14px !important;
  }
}

.link_nav:hover,
.link_nav:link,
.link_nav:active,
.link_nav:visited {
  color: black;
}

.item-head {
  font-size: 13px;
  font-weight: 600;
}

.item-sub {
  font-size: 13px;
}

#goods {
  top: 0 !important;
  position: sticky !important;
  padding: 30px 40px;
  height: max-content;
}

#goods-name {
  font-size: 42px;
  line-height: 38px;
}

#goods-color {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
}

.fa-star {
  font-size: 12px !important;
}

.bottom {
  background-color: #fff;
  border: 0px;
}

.bottom:hover {
  background-color: #000 !important;
  color: #fff;
  transition: 0.2s;
}

.rate {
  font-size: 14px;
  text-decoration: underline;
}

#disprice {
  font-size: 14px;
  color: #e32b2b;
}

.dis {
  font-size: 14px;
  text-decoration: line-through;
  color: #767677;
}

#visit {
  font-size: 14px;
  color: rgb(2, 134, 205);
}

.size {
  width: 73.6px;
  height: 40px;
}
.bth-icon {
  align-items: center;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  letter-spacing: 0;
  line-height: 47px;
  padding: 0;
  width: 50px;
}

.bth-icon {
  border: 2px solid black;
}

@media (pointer: fine) {
  .bth-icon:hover {
    background-color: #fff;
    border-color: #000;
    color: #767677;
  }
}

.bth-icon {
  margin: 0;
}

.bth-icon {
  margin-left: 0;
}

.eiei {
  margin-right: 60%;
}

.heart {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
  display: inline-block;
}

.heart {
  line-height: 24px;
}

@media (min-width: 960px) {
  .heart {
    line-height: inherit;
  }
}

.heart {
  color: #000;
}

.bth {
  align-items: center;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  justify-content: flex-start;
  line-height: 50px;
  min-height: 50px;
  padding: 0 21px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: transform 0.1s cubic-bezier(0.3, 0, 0.45, 1),
    color 0.1s cubic-bezier(0.3, 0, 0.45, 1),
    border 0.1s cubic-bezier(0.3, 0, 0.45, 1),
    background 0.1s cubic-bezier(0.3, 0, 0.45, 1);
  white-space: nowrap;
  width: auto;
}

@media (pointer: fine) {
  .bth:hover {
    text-decoration: none;
  }
}

.bth--full-width {
  justify-content: space-between;
  width: 80%;
}

.bthblack {
  background-color: #000;
  border-color: #fff;
  color: #fff;
  height: 50px;
}

@media (pointer: fine) {
  .bthblack:hover {
    background-color: none;
    border-color: #767677;
    color: #767677;
  }
}

.bthblack {
  transform: translate(-3px, -3px);
}

.bthblack:after,
.bthblack:before {
  content: "";
  display: block;
  position: absolute;
  transition: 0.1s cubic-bezier(0.3, 0, 0.45, 1);
}

.bthblack:before {
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  bottom: -3px;
  height: 3px;
  left: 3px;
  width: 100%;
}

.bthblack:after {
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  height: 100%;
  right: -3px;
  top: 3px;
  width: 3px;
}

.bth-white {
  background-color: #fff;
  border-color: #fff;
  color: #000;
  height: 50px;
}

@media (pointer: fine) {
  .bth-white:hover {
    background-color: none;
    border-color: #fff;
    color: #767677;
  }
}

.bth-white {
  transform: translate(-3px, -3px);
}

.bth-white:after,
.bth-white:before {
  content: "";
  display: block;
  position: absolute;
  transition: 0.1s cubic-bezier(0.3, 0, 0.45, 1);
}

.bth-white:before {
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  bottom: -3px;
  height: 3px;
  left: 3px;
  width: 100%;
}

.bth-white:after {
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  height: 100%;
  right: -3px;
  top: 3px;
  width: 3px;
}

.bg-content {
  background-color: #ebedee;
}

.path {
  position: absolute !important;
  z-index: 1;
}

.img-content {
  position: relative !important;
  width: 600px !important;
  height: 600px !important;
}

.button-content-left {
  float: left;
  top: 300px;
  left: 30px;
  position: relative !important;
  background-color: #fff;
}

.button-content-right {
  bottom: 300px;
  right: 30px;
  float: right;
  position: relative !important;
  background-color: #fff;
}

.button-content-left:hover,
.button-content-right:hover {
  background-color: #fff;
}

.button-content-left:active,
.button-content-right:active {
  background-color: #fff !important;
}

.image-icon {
  width: 60px !important;
  height: 60px !important;
}

.menu {
  text-decoration: none !important;
}

.underborder {
  border-bottom: 3px solid transparent;
  display: block;
}

.underborder:hover {
  border-bottom: 3px solid black;
}

.menu-row {
  width: 100%;
  top: 0 !important;
  position: sticky !important;
  height: 65px;
  border-bottom: 1px solid #ddd;
  background: #ffff;
  z-index: 999;
}

a {
  transition: 2s;
}

.property-list li {
  margin-top: 20px;
  padding: 0;
}
.hoiyas{
  font-size: 12px; 
  color: #c8cbcc; 
  margin-top: 15px;

}
.credit {
  font-size: 13px;
  margin-bottom: 2px;

}

#bot {
  margin-bottom: 20px;
}
