body {
  font-family: Arial, Helvetica, sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
  overflow: auto;
}

.navbar {
  position: sticky !important;
  top: 0;
}

.dropdown {
  position: static !important;
}

.nav-link {
  color: #000 !important;
  padding: 0 !important;
}

.dropdown-toggle {
  margin: 0px 0px !important;
}

.dropdown-menu {
  margin-top: -5px !important;
  width: 100% !important;
}

#fontUpper {
  font-size: 13px;
}

.con:hover {
  border-bottom: #000 solid 2px;
}

.head {
  width: 50px;
  height: 40px;
}

.bold {
  font-size: 16px;
  font-weight: 700;
}

#inside {
  position: absolute;
  margin-left: 180px;
}

.border-right {
  border-right: solid 1.5px #dddddd !important;
}

@media screen and (max-width: 1120px) {
  .dropdown {
    font-size: 14px !important;
  }
}

a:hover,
a:link,
a:active,
a:visited {
  color: black;
}

.item-head {
  font-size: 13px;
  font-weight: 600;
}

.item-sub {
  font-size: 13px;
}
